<p-toast />
<p-card [style]="{width: '35rem', margin: 'auto', backgroundColor: '#f5f7fa', color: 'black'}" header="+ Add Expenses">
    <hr>
    <form [formGroup]="expensesFrom" (ngSubmit)="onSubmit()">
        <div style="display: flex; gap: 2rem;">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="amount1" class="form-label" style="color: black;">Amount</label>
                </div>
                <p-inputnumber formControlName="amount" inputId="amount" mode="currency" [inputStyle]="{
                    backgroundColor: '#e3eafc',
                    color: 'black',
                    width: '250px'
                }" showButtons="true" currency="LKR" />
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="category" class="form-label" style="color: black;">Payment Method</label>
                    </div>
                    <p-select [options]="paymentMethod" formControlName="paymentMethod" optionLabel="name"
                        placeholder="paymentMethod "
                        [style]="{backgroundColor: '#e3eafc', color: 'black', width: '250px'}"
                        class="w-full md:w-56 text-w " />
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="category" class="form-label" style="color: black;">Description*</label>
                    </div>
                    <input formControlName="description" [style.background-color]="'#e3eafc'" [style.color]="'black'"
                        [style.width]="'250px'" type="text" pInputText />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="date" class="form-label" style="color: black;">Date</label>
                </div>
                <p-datepicker [inputStyle]="{
                    backgroundColor: '#e3eafc',
                    color: 'black',
                    width: '250px'
                }" formControlName="date"></p-datepicker>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="category" class="form-label" style="color: black;">Category</label>
                    </div>
                    <p-select [options]="category" formControlName="category" optionLabel="name" placeholder="Select a "
                        [style]="{backgroundColor: '#e3eafc', color: 'black', width: '250px'}"
                        class="w-full md:w-56 text-black " />
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="note" class="form-label" style="color: black;">note</label>
                    </div>
                    <textarea formControlName="note" rows="2" cols="5" pTextarea [style.background-color]="'#e3eafc'" [style.color]="'black'"
                        [style.width]="'250px'"></textarea>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end g-3">
            <p-button label="cancel" [style]="{ 'margin-right': '1rem' }" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  />
            <p-button label="Submit" type="submit" />
        </div>
    </form>
</p-card>