<div class="card">
    <p-table [value]="expense()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Date</th>
                <th>Catogory</th>
                <th>Amount</th>
                <th>Description</th>
                <th>paymentMethod</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-expense>
            <tr>
                <td>{{ expense.date | date:'dd/MM/yyyy' }}</td>
                <td>{{  expense.category?.name  }}</td>
                <td>{{ expense.amount | currency:'LKR ' }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.paymentMethod?.name  }}</td>
                <td>
                    <p-button label="Update" [routerLink]="['/editExpenses',expense.id,'edit']" icon="pi pi-user" [style]="{'margin-right': '0.5rem'}" />
                    <p-button label="Delete" (onClick)="deleteExpense(expense.id)" icon="pi pi-user" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>